/*
 * ---------------------------------------------------
 *  Nextflow config file for running on CAMP
 * ---------------------------------------------------
 */

//Copied this from the nf-core institutional profiles configs. eventually will want to link to that one directly
//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = ''
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = "/camp/home/hamrude/.singularity"

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = '72.h'
}