/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
/////////////////////////////////////////////////////////////
    // DEFAULTS FOR ALL R PROCESSES
    withName: R {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        container = 'alexthiery/10x-npb-schelper:base-0.2.4'
    }
/////////////////////////////////////////////////////////////
    withName: INPUT_CHECK {
        publishDir = [
            path: { "${params.outdir}/input_check" },
            mode: 'copy']
    }
    withName: SPLIT {
        publishDir = [
            path: { "${params.outdir}/split_stages" },
            mode: 'copy']
    }
    withName: CLUSTER {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/clustering" },
            mode: 'copy']
        ext.args = "--clustres 1.4"
    }
    withName: STATE_CLASSIFICATION {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/state_classification" },
            mode: 'copy']
    }
    withName: SUBSET {
        publishDir = [
            path: { "${params.outdir}/minus_HH4/unclustered" },
            mode: 'copy']
        ext.args = "--groups1 HH5,HH6,HH7,ss4,ss8 --meta_col1 stage --verbose TRUE --output minus_hh4_subset"
    }
    withName: CLUSTER_FULL {
        publishDir = [
            path: { "${params.outdir}/minus_HH4/clustering" },
            mode: 'copy']
        ext.args = "--clustres 1.2"
    }
    withName: TRANSFER_LABELS {
        publishDir = [
            path: { "${params.outdir}/minus_HH4/transfer_labels" },
            mode: 'copy']
        ext.args = "--full_data 'cell_cycle_data.RDS'"
    }

}