#!/usr/bin/env nextflow

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/nemo/lab/briscoej/working/hamrude/singularity'

process {
  executor = 'slurm'
  // withName: '.*:BOWTIE2_BUILD' {
  //   cpus = 12
  //   memory = 60.GB
  //   time = 2.h
  // }


params {
  max_memory      = 224.GB
  max_cpus        = 32
  max_time        = 72.h

  // Max hmem queue parameters
  max_hmem_cpus   = 96
  max_hmem_memory = 1500.GB
  max_hmem_time   = 72.h

  append_outdir   = false // Append timestamp to results folder
  tracedir        = "${params.outdir}/_pipeline_info"

  // Reference genome
  fasta           = "/nemo/lab/briscoej/working/hamrude/raw_data/genomes/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa"
  gtf             = "/nemo/lab/briscoej/working/hamrude/raw_data/genomes/galgal6/tag_chroms.gtf"

}
