/*
 * ---------------------------------------------------
 *  Nextflow config file for running on CAMP
 * ---------------------------------------------------
 */

//Copied this from the nf-core institutional profiles configs. eventually will want to link to that one directly
//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = ''
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = "/camp/home/hamrude/.singularity"

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = '72.h'

  // Paths to gtf and peaks to intersect with bins
  gtf              = "/nemo/lab/briscoej/home/users/hamrude/raw_data/genomes/galgal6/tag_chroms.gtf"
  index            = "/nemo/lab/briscoej/home/users/hamrude/raw_data/genomes/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa.fai"
  peaks            = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/FullData/Peak_call/rds_files/FullData_PeakSet.bed"
  
  // samplesheets for valid pairs
  sample_sheet_validpairs = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-hichip-downstream/samplesheet_validpairs.csv"

  // Bed file of literature enhancers
  lit_enhancers    = "/nemo/lab/briscoej/home/users/hamrude/lit_enhancers/literature_enhancers.bed"
  
  outdir = "full"
}