/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    // Bash script to intersect bins with peaks
    withName: INTERSECT_PEAKS_ENHANCERS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/enhancers_peaks_intersect" },
            mode: 'copy']
    }

    ///// Promoter specific analysis //////

    // Bash script to turn reference fasta into chromosome sizes
    withName: SAMTOOLS_FAIDX {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/chromosome_sizes" },
            mode: 'copy']
    }

    // Bash script to extract promoters from gtf using chromosome sizes
    withName: EXTRACT_PROMOTERS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 8.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/promoters_bed" },
            mode: 'copy']
    }

    ///// Bin specific analysis //////

    // R script to generate bins
    withName: GENERATE_BINS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
        ext.args = "--binsize 5000 --verbose TRUE"
    }

    // Bash script to intersect bins with peaks
    withName: INTERSECT_BINS_PEAKS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins/peaks_intersect" },
            mode: 'copy']
    }

    // Bash script to intersect bins with promoters
    withName: INTERSECT_BINS_PROMOTERS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins/promoters_intersect" },
            mode: 'copy']
    }

    ////// HiChip-sample specific analysis //////

    // Bash script to edit validpairs files
    withName: EDIT_VALIDPAIRS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/edit_validpairs" },
            mode: 'copy']
    }

    // R script to find significant interactions from HiChip data 
    withName: LOOP_CALL {
        //- takes ~7mins to run with these resources
        cpus = { check_max( 1, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/HicDCPlus_output" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
        // setting this Dmin and Dmax based on counts vs distance plots. If bins = 5kb width, minimum loop has to be 2 bins away and max 200 bins away
        ext.args = "--Dmin 5000 --Dmax 35000 --binsize 5000 --verbose TRUE"
    }

    // R script to find differential interactions from HiChip data between NF and WE
    withName: DIFF_LOOPS {
        cpus = { check_max( 2, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/HicDCPlus_differential_loops" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
        ext.args = "--Dmin 1e+04 --Dmax 1e+06 --verbose TRUE"
    }

    // R script to investigate loops
    withName: INVESTIGATE_LOOPS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/HicDCPlus_output_investigating" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
    }

    }
