/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    ///// GTF specific analysis //////

    // Bash script to turn gtf into bed file
    withName: GTF_TO_BED {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/genes_bed" },
            mode: 'copy']
    }

    ///// Bin specific analysis //////

    // R script to generate bins
    withName: GENERATE_BINS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
    }

    // Bash script to intersect bins with peaks
    withName: INTERSECT_BINS_PEAKS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins/peaks_intersect" },
            mode: 'copy']
    }

    // Bash script to intersect bins with genes
    withName: INTERSECT_BINS_GENES {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/bins/genes_intersect" },
            mode: 'copy']
    }

    ////// HiChip-sample specific analysis //////

    // Bash script to edit validpairs files
    withName: EDIT_VALIDPAIRS {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/edit_validpairs" },
            mode: 'copy']
    }

    // R script to find significant interactions from HiChip data
    withName: LOOP_CALL {
        cpus = { check_max( 2, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 12.h, 'time' ) }
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/HicDCPlus_output" },
            mode: 'copy']
        container = "alexthiery/archr_hicdc:3.0"
    }

    }
