#!/usr/bin/env nextflow

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/camp/home/hamrude/.singularity'

process {
  executor = 'slurm'
  withName: 'CELLRANGER_ATAC_COUNT' {
    queue = 'hmem'
    cpus = 14
    memory = 500.GB
    time = 72.h
    publishDir = [
          path: { "${params.outdir}/cellranger_atac_output" },
          mode: 'copy']
    }
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 100.h

  // Max hmem queue parameters
  max_hmem_cpus = 96
  max_hmem_memory = 1500.GB
  max_hmem_time = 72.h

  append_outdir = false // Append timestamp to results folder
  tracedir = "${params.outdir}/_pipeline_info"

  gtf              = "/camp/home/hamrude/briscoej/working/hamrude/raw_data/genomes/galgal6/tag_chroms.gtf"
  fasta            = "/camp/home/hamrude/briscoej/working/hamrude/genomes/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa"
  reference_name             = 'GalGal6'
  aligner                    = 'cellranger'

}
