/*
 * ---------------------------------------------------
 *  Nextflow config file for running on CAMP
 * ---------------------------------------------------
 */

//Copied this from the nf-core institutional profiles configs. eventually will want to link to that one directly
//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = ''
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = "/camp/home/hamrude/.singularity"

process {
  executor = 'slurm'
}

params {
  max_memory = 80.GB
  max_cpus = 8
  max_time = '6.h'

  //gtf = "/camp/home/hamrude/scratch/atac_neural_plate_border/output/NF-luslab_sc_multiomic/reference/genes.gtf.gz"
  //reference = "/camp/home/hamrude/work_dir/raw_data/genomes/galgal6"
  //seurat_RNA = "/camp/home/hamrude/scratch/atac_neural_plate_border/output/NF-RNAseq/seurat_label_transfer.RDS"

  //igenomes_base = '/camp/svc/reference/Genomics/aws-igenomes'
}