/*
 * ---------------------------------------------------
 *  Nextflow config file for running on CAMP
 * ---------------------------------------------------
 */

//Copied this from the nf-core institutional profiles configs. eventually will want to link to that one directly
//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = ''
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = "/nemo/project/home/hamrude/.singularity"

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = '72.h'

  // annotation files
  gtf                  = "/nemo/lab/briscoej/home/users/hamrude/raw_data/genomes/galgal6/tag_chroms.gtf"
  fasta                = "/nemo/lab/briscoej/home/users/hamrude/raw_data/genomes/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa"
  reference            = "/nemo/lab/briscoej/home/users/hamrude/raw_data/genomes/galgal6"
  
  // extra files created during pipeline
  p2g            = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/FullData/Single_cell_integration/csv_files/Peak_to_gene_linkage_df_250000_distance.csv"
  seurat         = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/FullData/scMEGA/Remove_HH4_from_RNA/rds_files/seurat_label_transfer_minus_HH4.RDS"
  // atac           = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/ss8/Transfer_labels_and_peaks/rds_files/ss8_Save-ArchR"
  atac           = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/FullData/Single_cell_integration/rds_files/FullData_Save-ArchR"
  atac_latent_time  = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Processing/FullData/Processing/FullData/Transfer_latent_time/rds_files/TransferLabel_Save-ArchR"
  metacell_metadata = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Downstream_processing/Cluster_peaks/1_peak_filtering/rds_files/Combined_SEACell_integrated_metadata.csv"
  normalised_metacell_peak_matrix = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Downstream_processing/Cluster_peaks/1_peak_filtering/rds_files/Filtered_normalised_summarised_counts.csv"
  fulldata_antler = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/output/NF-downstream_analysis/Downstream_processing/Cluster_peaks/2_peak_clustering/rds_files/FullData/antler.RDS"
  
  // samplesheets for RNA data
  rna_fulldata_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_rna_fulldata.csv"
  rna_stages_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_rna_stages.csv"
  rna_latent_time_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_rna_latent_time.csv"

  // samplesheets for ATAC data
  metacell_objs_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_atac_metacell_objs.csv"


  // sample sheets for pipeline switches
  aligned_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_aligned.csv"
  upstream_processed_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_upstream_processed.csv"
  singlecell_processed_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_singlecell_processed.csv"
  metacell_csvs_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_metacell_csvs.csv"
  mega_input_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_mega_input.csv"
  metacell_input_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheets/samplesheet_metacell_input.csv"


  outdir = "full"
}