/*
 * ---------------------------------------------------
 *  Nextflow config file for running on CAMP
 * ---------------------------------------------------
 */

//Copied this from the nf-core institutional profiles configs. eventually will want to link to that one directly
//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = ''
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = "/camp/home/hamrude/.singularity"

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = '72.h'

  //gtf              = "/nemo/lab/briscoej/working/hamrude/raw_data/genomes/galgal6/tag_chroms.gtf"
  reference            = "/nemo/lab/briscoej/working/hamrude/raw_data/genomes/galgal6"
  
  sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheet.csv"
  rna_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheet_rna.csv"
  upstream_processed_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheet_upstream_processed.csv"
  processed_sample_sheet = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheet_processed.csv"
  upstream_processed_sample_sheet_temp = "/flask/scratch/briscoej/hamrude/atac_neural_plate_border/NF-downstream_analysis/samplesheet_upstream_processed_temp.csv"
  
  outdir = "full"
}