/*
 * ---------------------------------------------------
 *  Nextflow config file for running tests on a laptop
 *  or other local device
 * ---------------------------------------------------
 */

docker.enabled = true
//docker.runOptions = '-u \$(id -u):\$(id -g)'

params {
  max_memory = 8.GB
  max_cpus = 4
  max_time = 2.h
}

