/*
 * ---------------------------------------------------
 *  Nextflow config file for running tests on a laptop
 *  or other local device
 * ---------------------------------------------------
 */

docker.enabled = true
//docker.runOptions = '-u \$(id -u):\$(id -g)'

params {
  max_cpus = 4
  max_memory = 8.GB

  //gtf = "/Users/hamrude/dev/repos/atac_neural_plate_border/output/NF-luslab_sc_multiomic/reference/genes.gtf.gz"
  reference = "/Users/hamrude/dev/repos/atac_neural_plate_border/output/NF-luslab_sc_multiomic/reference/galgal6"
  sample_sheet = "/Users/hamrude/dev/repos/atac_neural_plate_border/NF-downstream_analysis/samplesheet_test.csv"
  seurat_RNA = "/Users/hamrude/dev/repos/atac_neural_plate_border/output/NF-RNAseq/seurat_label_transfer.RDS"

  params.outdir = "test"
}

