/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/preprocessing" },
            mode: 'copy'
            ]
        //publish_dir = "1_preprocessing"
        container = "evahamrud/sc_multi_omic-r_signac:v2"
        cpus = { check_max( 2, 'cpus' ) }
        memory = { check_max( 160.GB, 'memory' ) }
        time = { check_max( 8.h, 'time' ) }
    }

    withName: FILTERING {
        publishDir = [
            path: { "${params.outdir}/filtering" },
            mode: 'copy'
            ]
        //publish_dir = "2_filtering"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 160.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
    }

    withName: FILT_EXPLORE {
        publishDir = [
            path: { "${params.outdir}/filtering" },
            mode: 'copy'
            ]
        //publish_dir = "filt"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 160.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
    }

    withName: GENE_ACTIVITY {
        // publishDir = [
        //     path: { "${params.outdir}/pipeline_info" },
        //     mode: 'copy',
        //     pattern: '*_versions.yml'
        // ]
        publish_dir = "3_gene_activity"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 310.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
    }

    withName: INTEGRATE_RNA {
        // publishDir = [
        //     path: { "${params.outdir}/pipeline_info" },
        //     mode: 'copy',
        //     pattern: '*_versions.yml'
        // ]
        publish_dir = "4_integrate_rna"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 310.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
    }

    withName: SPLIT_RNA {
        // publishDir = [
        //     path: { "${params.outdir}/pipeline_info" },
        //     mode: 'copy',
        //     pattern: '*_versions.yml'
        // ]
        publish_dir = "split"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 310.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
        ext.args = "--split stage --modality rna"
    }

    withName: SPLIT_ATAC {
        // publishDir = [
        //     path: { "${params.outdir}/pipeline_info" },
        //     mode: 'copy',
        //     pattern: '*_versions.yml'
        // ]
        publish_dir = "split"
        container = "evahamrud/sc_multi_omic-schelper:latest"
        cpus = { check_max( 16, 'cpus' ) }
        memory = { check_max( 310.GB, 'memory' ) }
        time = { check_max( 10.h, 'time' ) }
        ext.args = "--split stage --modality atac"
    }

}
