/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

/// Containers that are used in this pipeline:
        // R:       "alexthiery/schelper:archr_macs2-schelper" (unchanging alexthiery/archr_macs2:3.0 + changing scHelper package)
        // R:       "alexthiery/seurat-schelper" (unchanging alexthiery/10x-npb-seurat:base-2.8 + changing scHelper package)
        // Python:  "alexthiery/seacells:0.5" (unchanging)

process {
/////////////////////////////////////////////////////////////
    // DEFAULTS FOR ALL R PROCESSES
    withName: R {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        container = "alexthiery/schelper:archr_macs2-schelper-0.3.5"
    }
    // DEFAULTS FOR ALL PYTHON PROCESSES
    withName: PYTHON {
        cpus = { check_max( 8, 'cpus' ) }
        memory = { check_max( 36.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        container = "alexthiery/seacells:0.5"
    }
/////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////
///////////         UPSTREAM PROCESSING           ////////////
//////////////////////////////////////////////////////////////

////    PREPROCESSING SUBWORKFLOW  ////
    withName: EDIT_GTF {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/edit_gtf" },
            mode: 'copy']
    }
    withName: PREPROCESS {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/preprocess" },
            mode: 'copy']
        cpus = { check_max( 12, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
    }
    //temp 
    withName: MAKE_TXDB {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/txdb" },
            mode: 'copy']
        cpus = { check_max( 4, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
    }
    withName: EXTRACT_EXONS {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/extracted_exons" },
            mode: 'copy']
        cpus = { check_max( 4, 'cpus' ) }
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
    }

////    FILTERING SUBWORKFLOW  ////
    withName: GLOBAL_FILTER {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/global_filter" },
            mode: 'copy']
        cpus = { check_max( 5, 'cpus' ) } //set to number of samples for TSSEnrichment
        memory = { check_max( 120.GB, 'memory' ) }
        time = { check_max( 4.h, 'time' ) }
        ext.args = '--filter TRUE --factor 1'
    }
    withName: SPLIT_STAGES {
        publishDir = [
            path: { "" },
            mode: 'copy']
        publishDir = [enabled: false]
    }
    withName: FILTER_CLUSTER_LOOP {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/${meta.sample_id}" },
            mode: 'copy']
        memory = { check_max( 60.GB, 'memory' ) }
        ext.args = '--clust_res 3.6 --clustree_by 0.45 --verbose TRUE'
    }
    withName: FILTER_FULL {
        publishDir = [
            path: { "${params.outdir}/Upstream_processing/${task.process.tokenize(":")[-2]}/${meta.sample_id}" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
    }

/////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////                  FULL DATA PEAKCALL PROCESSING                    /////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

////    GENERATING CONSENSUS PEAK SET / PROCESSING STAGES AND FULL DATA   ////
    withName: CLUSTER {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Clustering" },
            mode: 'copy']
        memory = { check_max( 60.GB, 'memory' ) }
        ext.args = '--stage_clust_res 0.7 --full_clust_res 0.8 --clustree_stage FALSE --clustree_full FALSE --GeneScore_heatmaps_stage FALSE --GeneScore_heatmaps_full FALSE --verbose TRUE'
    }
    withName: PEAK_CALL {
        // container = "alexthiery/schelper:archr_dev_macs2-schelper-0.3.5"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Peak_call" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
        time = { check_max( 16.h, 'time' ) }
        ext.args = '--group_by clusters --heatmaps_full TRUE --heatmaps_stage TRUE --verbose TRUE'
    }
    withName: SPLIT_STAGES_PROCESSED {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Split_stages" },
            mode: 'copy']
    }

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////                        SEACELLS PROCESSING                        /////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

// ATAC-specific:
    withName: ARCHR_EXPORT_DATA {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/0_ATAC_exported_data" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
        ext.args = '--verbose TRUE'
    }
    withName: CREATE_ANNDATA {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/1_ATAC_Anndata_object" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
        ext.args = "--input ./input/exported_ArchR_data/"
    }
    withName: META_TO_SEURAT_ATAC {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/3_SEACells_metadata_to_seurat" },
            mode: 'copy']
        memory = { check_max( 120.GB, 'memory' ) } //had an oom error with default 36GB
        ext.args = "--metadata_file_name exported_data/Cell_metadata.csv --matrix_file_name exported_ArchR_data/gene_scores.csv"
    }
    withName: SEURAT_TO_ANNDATA_PROCESSED_ATAC {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/6_Anndata_object_processed_classified" },
            mode: 'copy']
        ext.args = "--data_path ./input/rds_files/ --input classified_metacell.RDS --assay RNA --group_by scHelper_cell_type --outfile AnnData_ATAC --verbose TRUE"
    }
    withName: RENAME_SEACELL_OUTPUTS {
        publishDir = [
            path: { "" },
            mode: 'copy']
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/2_SEACells_computed_renamed" },
            mode: 'copy']
    }
// RNA-specific:
    withName: SEURAT_TO_ANNDATA {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/1_RNA_Anndata_object" },
            mode: 'copy']
        ext.args = "--data_path ./input/ --assay integrated --outfile AnnData --group_by scHelper_cell_type --verbose TRUE"
    }
    withName: META_TO_SEURAT_RNA {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/3_SEACells_metadata_to_seurat" },
            mode: 'copy']
        ext.args = "--metadata_file_name exported_data/Cell_metadata.csv --categories run,sex,stage,seurat_clusters,scHelper_cell_type"
    }
    withName: SEURAT_TO_ANNDATA_PROCESSED_RNA {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/6_Anndata_object_processed_classified" },
            mode: 'copy']
        ext.args = "--data_path ./input/rds_files/ --input classified_metacell.RDS --assay RNA --group_by scHelper_cell_type --outfile AnnData_RNA --verbose TRUE"
    }
// Shared:
    withName: CALCULATE_SEACELLS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/2_SEACells_computation" },
            mode: 'copy']
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 60.h, 'time' ) }
        ext.args = "--input ./input/rds_files/"
    }
    withName: PROCESS_METACELLS {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/4_Process_metacells" },
            mode: 'copy']
    }
    withName: CLASSIFY_METACELLS {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/5_Classify_metacells" },
            mode: 'copy']
        ext.args = "--input seacells_seurat_processed.RDS"
    }
// Integrating:
    withName: INTEGRATE_SEACELLS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Integrated_SEACells" },
            mode: 'copy']
        ext.args = "--input ./input/"
    }
    withName: LABEL_TRANSFER {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Integrated_SEACells_label_transfer" },
            mode: 'copy']
        ext.args = "--k_cutoff 6"
    }
////    PEAK MODULES   ////
    withName: COMBINE_METACELL_COUNTS {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Downstream_processing/Cluster_peaks/0_combining_outputs" },
            mode: 'copy']
        //memory = { check_max( 200.GB, 'memory' ) }
    }
    withName: FILTER_PEAKS {
        container = "alexthiery/schelper:seurat-schelper-0.3.3"
        publishDir = [
            path: { "${params.outdir}/Downstream_processing/Cluster_peaks/1_peak_filtering" },
            mode: 'copy']
        ext.args = '--nPeaks 10000 --verbose TRUE'
    }
    withName: CLUSTER_PEAKS {
        container = "alexthiery/schelper:seurat-schelper-0.3.4"
        publishDir = [
            path: { "${params.outdir}/Downstream_processing/Cluster_peaks/2_peak_clustering" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
    }
    withName: HOMER_MOTIF_ENRICHMENT {
        publishDir = [
            path: { "${params.outdir}/Downstream_processing/Cluster_peaks/3_homer_motif_enrichment" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
        time = { check_max( 60.h, 'time' ) }
    }

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////                     SINGLE CELL PROCESSING                        /////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
    withName: INTEGRATE {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Single_cell_integration_wf" },
            mode: 'copy']
        ext.args = "--min_threshold 40 --max_label 3"
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 60.h, 'time' ) }
        container = "alexthiery/schelper:archr_dev_macs2-schelper-0.3.5"
    }
    withName: MOTIF_ANALYSIS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Motif_analysis" },
            mode: 'copy']
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 60.h, 'time' ) }
        container = "alexthiery/archr:3.1"
    }
    // withName: UNCON_INTEGRATE {
    //     publishDir = [
    //         path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Single_cell_integration" },
    //         mode: 'copy']
    //     memory = { check_max( 100.GB, 'memory' ) }
    //     container = "alexthiery/archr_dev:3.0"
    // }
    // withName: CLUSTER_IDENTIFY {
    //     publishDir = [
    //         path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Single_cell_integration_cluster_identification" },
    //         mode: 'copy']
    //     container = "alexthiery/schelper:archr_macs2-schelper-0.3.5"
    //     ext.args = "--min_threshold 40 --max_label 3"
    // }
    withName: DIM_RED_GENOMIC_SUBSETS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Dim_reduction_with_different_genomic_subsets" },
            mode: 'copy']
    }
    // withName: CO_ACCESSIBILITY {
    //     publishDir = [
    //         path: { "${params.outdir}/Processing/${meta.sample_id}/Coaccessibility" },
    //         mode: 'copy']
    //     memory = { check_max( 100.GB, 'memory' ) }
    //     time = { check_max( 16.h, 'time' ) }
    // }
    withName: PLOT_DIFF_PEAKS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/${task.process.tokenize(":")[-2]}/Plotted_differential_peaks" },
            mode: 'copy']
    }
    //     ////    FINDING ENHANCERS WORKFLOW    ////
//     withName: CALCULATE_SE {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/Find_enhancers/1_calculate_se" },
//             mode: 'copy']
//         memory = { check_max( 100.GB, 'memory' ) }
//         ext.args = '--group_by stage_clusters --verbose TRUE'
//     }
//     withName: FIND_ENHANCERS {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/Find_enhancers/2_find_enhancers" },
//             mode: 'copy']
//         memory = { check_max( 100.GB, 'memory' ) }
//         ext.args = '--verbose TRUE'
//     }

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////                     MEGA PROCESSING                        /////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

withName: ARCHR_TO_SEURAT {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/ArchR-to_seurat" },
            mode: 'copy']
        container = "alexthiery/archr_seurat_signac_mega:3.0"
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
    }
withName: REMOVE_HH4 {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/Remove_HH4_from_RNA" },
            mode: 'copy']
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 12.h, 'time' ) }
        container = "alexthiery/schelper:seurat-schelper-0.3.4"
    }
withName: MEGA_INTEGRATION {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/MEGA_integration" },
            mode: 'copy']
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 12.h, 'time' ) }
        container = "alexthiery/archr_seurat_signac_mega:3.0"
    }
withName: MEGA_PAIRING {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/MEGA_cell_pairing" },
            mode: 'copy']
        cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        container = "alexthiery/archr_seurat_signac_mega:3.0"
    }
withName: MEGA_CHROMVAR {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/MEGA_chromvar" },
            mode: 'copy']
        //cpus = { check_max( 32, 'cpus' ) }
        memory = { check_max( 60.GB, 'memory' ) }
        container = "alexthiery/archr_seurat_signac_mega:3.0"
    }
withName: MEGA_GRNI {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/scMEGA/MEGA_GRNi" },
            mode: 'copy']
        cpus = { check_max( 12, 'cpus' ) }
        memory = { check_max( 200.GB, 'memory' ) }
        time = { check_max( 6.h, 'time' ) }
        container = "alexthiery/archr_seurat_signac_mega:3.1"
    }

    //docker pull alexthiery/archr_seurat_signac_mega:3.0

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////                     MULTIVIEW PROCESSING                        /////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////

 withName: TRANSFER_METACELL_LABELS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Metacell_ID_purity" },
            mode: 'copy']
    }
    // running peaks and diff peaks on metacell integration labels
withName: PEAK_CALL_METACELLS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Consensus_peaks" },
            mode: 'copy']
        memory = { check_max( 100.GB, 'memory' ) }
        time = { check_max( 16.h, 'time' ) }
        ext.args = '--group_by SEACell_scHelper_cell_type --heatmaps_full FALSE --heatmaps_stage FALSE --verbose TRUE'
    }
withName: CALCULATE_SE_METACELLS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Consensus_peaks" },
            mode: 'copy']
        ext.args = '--group_by SEACell_scHelper_cell_type --verbose TRUE'
    }
withName: PLOT_DIFF_PEAKS_METACELLS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Consensus_peaks" },
            mode: 'copy']
        ext.args = '--group_by SEACell_scHelper_cell_type --verbose TRUE'
    }
    // transferring consensus peak set onto stage objects
withName: TRANSFER_CONSENSUS_PEAKS {
        publishDir = [
            path: { "${params.outdir}/Processing/${meta.sample_id}/Consensus_peaks" },
            mode: 'copy']
        ext.args = '--group_by clusters --heatmaps_full TRUE --heatmaps_stage TRUE --verbose TRUE'
    }


//     withName: COMPARE_INTERCLUSTER_VARIABILITY {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/compare_intercluster_variability" },
//             mode: 'copy']
//         memory = { check_max( 100.GB, 'memory' ) }
//         ext.args = '--verbose TRUE --matrix PeakMatrix'
//     }

//     withName: PLOT_MANUALLY_FILTERED_ENHANCERS {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/transfer_labels/plot_manually_filtered_enhancers" },
//             mode: 'copy']
//         memory = { check_max( 100.GB, 'memory' ) }
//     }

//     /// NPB subset
//     withName: SUBSET_NPB {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB/subset" },
//             mode: 'copy']
//         ext.args = '--meta_col1 stage_clusters --groups1 HH7_C4,HH7_C5,HH7_C6,ss4_C2,ss4_C3,ss4_C5,ss4_C6,ss8_C1,ss8_C5,ss8_C7,ss8_C8 --invert1 FALSE'
//     }
//     withName: CLUSTER_NPB {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB/clustered" },
//             mode: 'copy']
//         ext.args = '--full_clust_res 0.8 --clustree FALSE --verbose TRUE'
//     }
//     withName: PEAK_CALL_NPB {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB/peak_call" },
//             mode: 'copy']
//         container = "evahamrud/sc_multi_omic-archr_extra:latest"
//         memory = { check_max( 100.GB, 'memory' ) }
//         ext.args = '--group_by clusters --verbose TRUE'
//     }

//     /// NPB subset using just labels
//     withName: SUBSET_NPB_LABELS {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_labels/subset" },
//             mode: 'copy']
//         ext.args = '--meta_col1 stage --groups1 HH7,ss4,ss8 --invert1 FALSE --meta_col2 scHelper_cell_type_old --groups2 aNPB,aPPR,dNC,NC,pNPB,pPPR,PPR --invert2 FALSE'
//     }
//     withName: CLUSTER_NPB_LABELS {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_labels/clustered" },
//             mode: 'copy']
//         ext.args = '--full_clust_res 0.8 --clustree FALSE --verbose TRUE'
//     }
//     withName: PEAK_CALL_NPB_LABELS {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_labels/peak_call" },
//             mode: 'copy']
//         container = "evahamrud/sc_multi_omic-archr_extra:latest"
//         memory = { check_max( 100.GB, 'memory' ) }
//         ext.args = '--group_by clusters --verbose TRUE'
//     }


//     /// NPB subset at each stage
//     withName: SUBSET_NPB_HH7 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_HH7/subset" },
//             mode: 'copy']
//         ext.args = '--meta_col1 stage_clusters --groups1 HH7_C4,HH7_C5,HH7_C6 --invert1 FALSE'
//     }
//     withName: CLUSTER_NPB_HH7 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_HH7/clustered" },
//             mode: 'copy']
//         ext.args = '--full_clust_res 0.8 --clustree FALSE --verbose TRUE'
//     }
//     withName: SUBSET_NPB_SS4 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_SS4/subset" },
//             mode: 'copy']
//         ext.args = '--meta_col1 stage_clusters --groups1 ss4_C2,ss4_C3,ss4_C5,ss4_C6 --invert1 FALSE'
//     }
//     withName: CLUSTER_NPB_SS4 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_SS4/clustered" },
//             mode: 'copy']
//         ext.args = '--full_clust_res 0.8 --clustree FALSE --verbose TRUE'
//     }
//     withName: SUBSET_NPB_SS8 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_SS8/subset" },
//             mode: 'copy']
//         ext.args = '--meta_col1 stage_clusters --groups1 ss8_C1,ss8_C5,ss8_C7,ss8_C8 --invert1 FALSE'
//     }
//     withName: CLUSTER_NPB_SS8 {
//         publishDir = [
//             path: { "${params.outdir}/Downstream_processing/NPB_SS8/clustered" },
//             mode: 'copy']
//         ext.args = '--full_clust_res 0.8 --clustree FALSE --verbose TRUE'
//     }
}
