// withName: PREPROCESSING {
//         publishDir = [
//             path: { "${params.outdir}/1_preprocessing" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-r_signac:v2"
//         cpus = { check_max( 2, 'cpus' ) }
//         memory = { check_max( 160.GB, 'memory' ) }
//         time = { check_max( 8.h, 'time' ) }
//     }

//     withName: FILTERING {
//         publishDir = [
//             path: { "${params.outdir}/2_filtering" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 160.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//     }

//     withName: FILT_EXPLORE {
//         publishDir = [
//            path: { "${params.outdir}/filt_explore" },
//            mode: 'copy'
//            ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 240.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//     }

//     withName: GENE_ACTIVITY {
//         publishDir = [
//            path: { "${params.outdir}/3_gene_activity" },
//            mode: 'copy'
//            ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//     }

//     withName: GEX_FILTERING {
//         publishDir = [
//             path: { "${params.outdir}/4_gex_filtering" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//     }

//     withName: INTEGRATE_RNA {
//         publishDir = [
//             path: { "${params.outdir}/5_integrate_rna" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//     }

//     withName: SPLIT_RNA {
//         publishDir = [
//             path: { "${params.outdir}/split_rna" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//         ext.args = "--split stage --modality rna"
//     }

//     withName: SPLIT_ATAC {
//         publishDir = [
//             path: { "${params.outdir}/split_atac" },
//             mode: 'copy'
//             ]
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//         ext.args = "--split stage --modality atac"
//     }

//     withName: CLUSTER {
//         publishDir = [
//             path: { "${params.outdir}/cluster_rna" },
//             mode: 'copy'
//             ]
//             //publish_by_meta     = ['sample_id', 'seurat', 'stage_cluster']
//         ext.args                = "--clustres 2"
//         container = "evahamrud/sc_multi_omic-schelper:latest"
//         cpus = { check_max( 16, 'cpus' ) }
//         memory = { check_max( 310.GB, 'memory' ) }
//         time = { check_max( 10.h, 'time' ) }
//         }

// }